@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Noto Sans", sans-serif;
}

._bg-pattern-wave {
    background: repeating-linear-gradient(135deg, var(--color-gray-950) 0, var(--color-gray-950) 10%, transparent 0, transparent 50%);
    background-size: 8px 8px;
    background-color: var(--color-black);
    opacity: 1
}



._dialog-open-anim {
    animation: dialog-open-kf 200ms ease-out forwards;
}

._dialog-bg-open-anim {
    animation: dialog-bg-open-kf 200ms ease-out forwards;
}

@keyframes dialog-open-kf {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

@keyframes dialog-bg-open-kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}